__pycache__/
venv/
*.aux
*.log
*.out
*.json
second_rater.txt
run_records.zip
Abstract.md
Abstract_ieee.md
bio.md
cover_letter.md
cover_letter.pdf
insights.md
previously_published.pdf
main_manuscript.zip
